  *,*:before,*:after 
  {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    background-color:darkgrey;
  }
  
  .container {
    width: 90%;
    margin: 0px auto;    
    min-height: 1000px;
  }
  
  .content__image {
      height: 1000px;
      display: flex;
      justify-content:space-evenly;
      align-items:flex-start;
      flex-wrap: wrap;
  }
  
  .image {
      margin: 8px;
      width: 19%;
      height: 40%;
      background-size:cover;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      outline: 5px solid #789b32;
  }

.image::before {
    content: '';
    background-color:#789b32;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -100%;
    left: 0;
    transition-property: all;
    transition-duration: 0.7s;
}
.image:hover::before {
    top: 0;
}
.image:nth-child(1) {
  background-image: url(../img/1.png);
}
.image:nth-child(1):hover::before {
  content: 'Mykola Barabaliuk'
}

